#header-container {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: inherit;
  justify-content: center;
  align-items: center;
  filter: grayscale(100%);
}

.header-content-container {

}
#header-container > h1 {
  font-family: raleway;
  font-size: 30px;
  font-weight: bold;

}

#header-container > h3 {
  font-family: "open sans";
  font-size: 16px;
  width: 350px;
  text-align: center;
  vertical-align: middle;
}