.speaker-page-container {
  display: flex;
  flex-direction: column;
  width: inherit;
  background: linear-gradient(white, rgb(198, 235, 245));
}

@media screen and (max-width: 425px) {
  .speakers-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}