// still uses css from home-media@768.less & home.less
@media screen and (max-width: 425px) {
	.home-page-container{
		.container {
			margin: 30px;
		}

		.register-detail-container {
			font-size: 14px;
			.register-detail-box-secondary {
				padding: 15px;
			}
			.register-details-button {
				padding: 15px;
				text-align: center;
			}
		}
	}

	#page-three {
		.container-speaker {
			margin: 0;
		}

		.container-speakers {
			margin: 0;
			margin-left: 20px;
			margin-right: 20px;
		}
		.title-text-header-main {
			font-size: 30px;
			color: skyblue;
		}

		.title-text-header-dark {
			font-size: 30px;
			color: black;
		}

		.speaker-item-container {
			display: flex;
			flex-direction: row;
			.speakers-image-container {
				width: 175px;
				height: 175px;
			}
			.speaker-info {
				p {
					margin: 0;
				}
			}
		}
		.speaker-item-container.flipped {
			flex-direction: row-reverse;
		}
		.invisible-mobile {
			display: none;
		}
	}

	#page-four {
		.container-venue {
			margin: 0;
			position: static;
		}
		.venue-image-container {
			width: inherit;
		}
		.venue-title-text-container {
			.venue-title-text-small {
				font-size: 12px;
				font-family: 'Raleway';
				font-weight: bold;
			}
			.venue-title-text-large {
				font-size: 24px;
				font-family: 'Raleway';
			}
		}
		.venue-description-container {
			flex-direction: column;
			width: inherit;
			div {
				width: inherit;
				margin-top: 20px;
				margin-bottom: 20px;
			}
			.venue-description {
				border-left: 3px solid grey;
				margin-left: 1em;
				padding-left: 1em;
			}
		}
	}

	#page-five {
		.container{
			center {
				margin-top: 20px;
				margin-bottom: 20px;
			}
		}
		.title-text-header-dark {
			font-size: 35px;
		}
		.sub-heading-text-dark {
			font-size: 12px;
			font-weight: bold;
		}
		.stats-section {
			flex-direction: row;
			flex-wrap: wrap;
			.stats-container {
				display: flex;
				flex-direction: column;
				margin-top: 20px;
				width: 150px;
				.stats-number {
					font-size: 60px;
					font-weight: bold;
					font-family: 'Open Sans'
				}
				.stats-text {
					text-align: center;
					font-size: 18px;
					font-weight: bold;
					font-family: 'Open Sans'
				}
			}
		}
	}

	#agenda-page {
		align-items: center;
		div {
			padding: 30px;
		}
		#agenda-header-container {
			h1 {
				font-size: 35px;
				font-weight: bold;
				font-family: 'Raleway';
				text-align: center;
			}
		}
		hr.hr-dash-main {
			background-color: black;
		}
		#agenda-content-container {
			p {
				font-size: 18px;
				font-family: 'Open Sans';
				text-align: center;
			}
		}
	}
}