.section-container {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  font-family: Raleway;
  text-align: center;
  letter-spacing: 2px;
}

.section-subheader {
  font-size: 25px;
  font-weight: bold;
  font-family:  Raleway;
  text-align: center;
  letter-spacing: 4px;
}

.section-container > p {
  padding-left: 150px;
  padding-right: 150px;
  font-family: "open sans";
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
}

.icons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 50px;
}