.icon-container {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
}

.icon-container img {
  height: inherit;
  width: inherit;
}

.icon-info {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  font-family:  "open sans";
  letter-spacing: 3px;
}

@media screen and (max-width: 425px) {
  .icon-container {
    height: 50px;
    width: 50px;
    align-items: center;
  }
  .icon-info {
    font-size: 12px;
    letter-spacing: 2px;
  }
}